body{
    width: 1907px;
    height: 858px;
    background-color: rgb(0, 0, 0);
    
}
.relative{
    position: relative;
    top: 59px;
    left: 3.5px;
}
.absolut{
    position: absolute;
    top: 10px;
    left: 7.5px;
}
.absolut1{
    position: absolute;
    top: 0px;
    left: -10px;
}
.absolut2{
    position: absolute;
    top: 0px;
    left: 1517px;
}
.absolut3{
    position: absolute;
    top: 19px;
    left: 1055px;
}
.absolut4{
    position: absolute;
    top: 173px;
    left: 1276px;
}
.absolut5{
    position: absolute;
    top: 623px;
    left: 1089px;
}
.absolut6{
    position: absolute;
    top: 653px;
    left: 1207px;
}
.absolut7{
    position: absolute;
    top: 630px;
    left: 1325px;
}
.absolut8{
    position: absolute;
    top: 630px;
    left: 1416px;
}
.absolut9{
    position: absolute;
    top: 630px;
    left: 1494px;
}
.absolut10{
    position: absolute;
    top: 16px;
    left: 152px;
}
.absolut11{
    position: absolute;
    top: 70px;
    left: 332px;
}
.absolut12{
    position: absolute;
    top: 267px;
    left: 189px;
}
.absolut13{
    position: absolute;
    top: 582px;
    left: 172px;
}
.absolut14{
    position: absolute;
    top: 617px;
    left: 172px;
}
.absolut15{
    position: absolute;
    top: 617px;
    left: 393px;
}